#hide {
    color: black;
    text-decoration: none;
}

#hide:hover {
    color: black;
    text-decoration: none;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow-wrap: break-word;
    width: 50em;
    margin: auto;
}

ul {
    text-align: left;
}


ol {
    text-align: left;
}
