#hide {
    color: black;
    text-decoration: none;
}

#hide:hover {
    color: black;
    text-decoration: none;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

ul {
    text-align: left;
}


ol {
    text-align: left;
}
